<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--	&lt;!&ndash;使用组件扫描器： 指定扫描的包&ndash;&gt;-->
<!--	<context:component-scan base-package="com.maple.entity"/>-->

<!--	&lt;!&ndash;注册beanDefinition的后置处理器&ndash;&gt;-->
<!--	<bean id="mapleBeanFactoryPostProcessor" class="com.maple.posthandler.beanfactory.MapleBeanFactoryPostProcessor"/>-->

	<!--注册bean对象的后置处理器-->
	<bean id="mapleBeanPostProcessor" class="com.maple.posthandler.bean.MapleBeanPostProcessor"/>

	<bean id="student" class="com.maple.entity.Student" init-method="init">
		<property name="name" value="李四"/>
		<property name="age" value="15"/>
	</bean>

	<bean class="com.maple.entity.StudentFactoryBean" id="studentFactoryBean"/>

</beans>